<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ATRAC Audio Video Converter" Language="1041" Version="3.2.34" Manufacturer="ATRAC" UpgradeCode="B7E2C1A4-5D3F-4C8E-9A61-0A7AC0032034">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" Platform="x64" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of ATRAC Audio Video Converter is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="installer-license-ja.rtf" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="ATRAC Audio Video Converter" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ATRAC Audio Video Converter" />
      </Directory>
      <Directory Id="DesktopFolder" />
    </Directory>
    <Feature Id="MainFeature" Title="ATRAC Audio Video Converter" Level="1">
      <ComponentGroupRef Id="AppFiles" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>
    <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">
      <Shortcut Id="StartMenuShortcut" Name="ATRAC Audio Video Converter" Target="[INSTALLFOLDER]ATRAC_Converter.exe" WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
      <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\ATRAC\ATRAC Audio Video Converter" Name="installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    <Component Id="DesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
      <Shortcut Id="DesktopShortcut" Name="ATRAC Audio Video Converter" Target="[INSTALLFOLDER]ATRAC_Converter.exe" WorkingDirectory="INSTALLFOLDER" />
      <RegistryValue Root="HKCU" Key="Software\ATRAC\ATRAC Audio Video Converter" Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Product>
</Wix>
